html, body {
    margin: 0; 
    padding: 0;
    background-color: #fafafa;
}

#intro {
    font-family: 'Roboto Slab';
    text-align: center;
}

#topHeadline {
    border: 1px solid gray;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 220px;
    margin-right: 220px;
    overflow: hidden;
    padding-top: 20px;
    background-color: white;
    padding-bottom: 90px;
    border-radius: 12px;
    font-family: 'Roboto Slab';
}

#summarizedText {
    margin-left: 20px;
    padding-top: 45px;
}

#topHeadline h2 {
    font-size: 24px;
    color: black;
}

#topHeadline img {
    margin-right: 15px;
    padding-left: 20px;
    float: left;
}

#topHeadline:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#textBox {

}

header {
    background-color: #69D7E4;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    font-size: 35px;
    font-family: 'Roboto Slab';
    color: white;
}

footer {
    background-color: #69D7E4;
    padding: 10px;
    text-align: right;
    color: white;
    font-family: 'Roboto Slab';
}

p {
    text-decoration: none !important;
    color: black;
}