<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>

    <div id="intro">
        <h1><b>Make following the news easier</b></h1>
        <p>Top headlining news articles summarized in real time</p>
    </div>

    <h1>Top Headlines</h1>
    {{ range .}}
    <div id="topHeadline">
        <img src="{{.URLImage}}" height="200" width="200"></img>
        <h2 id="title">{{.Title}}</h2>
        <p id="author">{{.Author}}</p>
        <p>{{.Desc }}</p>
        <a href="{{.URL}}" target="_blank">Link to the article</a>
    </div>
    {{end}}

</body>

</html>