<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>

    <div id="intro">
        <h1><b>Make following the news easier</b></h1>
        <p>Top headlining news articles summarized in real time</p>
    </div>

    <h1>Top Headlines</h1>
    {{ range .}}
    <a href="{{.URL}}" target="_blank" style="text-decoration:none">
    <div id="topHeadline">
        <img src="{{.URLImage}}" height="250" width="250"></img>
        <h2 id="title">{{.Title}}</h2>
        <p id="author">Author: {{.Author}}</p>
        <p id="source"> Source: {{.Website}}</p>
        <p id="datePublished">Date published: {{.Date}}</p>
        <p>{{.Desc}}</p>
        
    </div>
    </a>
    {{end}}

</body>

</html>