<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="styles/intro.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <title>Go read</title>
</head>
<body>

    <div id="intro">
        <h1><b>Make following the news easier</b></h1>
        <p>Top headlining news articles from major outlets readily summarized</p>
    </div>

    <div class="grid-container">
        <a href="http://localhost:8001/CNN"><div class="grid-item"><img src="newsIcons/cnn.png" width="120px"></div></a>
        <a href="http://localhost:8001/BBCNews"><div class="grid-item"><img src="newsIcons/bbc.png" width="120px"></div></a>
        <div class="grid-item"><img src="newsIcons/buzzfeed.png" width="120px"></div>  
        <a href="http://localhost:8001/CBC"><div class="grid-item"><img src="newsIcons/cbc.png" width="120px"></div></a>
        <a href="http://localhost:8001/BusinessInsider"><div class="grid-item"><img src="newsIcons/businessInsider.png" width="220px" style="margin-top:40px;"></div></a>
        <a href="http://localhost:8001/HuffingtonPost"><div class="grid-item"><img src="newsIcons/huffpost.png" width="220px" style="margin-top:40px;"></div></a>
      </div>

</body>
</html>